* { box-sizing: border-box; }
.App {
  text-align: center;
  background-color: #F5F5F5;
}
button{
  size: small;
  font-size: x-small;
}
.star{
  color:orange;
}
#about{
  background-color: darkolivegreen;
}

 img{
  max-width: 100%;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  background-color: whitesmoke;
}
.section {
  padding: 10px;
}

